%table.table
  %tbody
    %tr
      %th Locale
      %td= question.locale
    %tr
      %th Question
      %td= question.question
    %tr
      %th Answer
      %td= question.answer
    %tr
      %th Position
      %td= question.position
    %tr
      %th Activity Counter
      %td= question.activity_counter
    %tr
      %th Featured
      %td= question.featured
