%table.table
  %tbody
    %tr
      %th Locale
      %td= faq.locale
    %tr
      %th Question
      %td= faq.question
    %tr
      %th Answer
      %td= faq.answer
    %tr
      %th Position
      %td= faq.position
    %tr
      %th Activity Counter
      %td= faq.activity_counter
    %tr
      %th Featured
      %td= faq.featured
