= effective_form_with(model: [(namespace if defined?(namespace)), faq]) do |f|
  = f.select :locale, I18n.available_locales
  = f.text_area :question
  = f.text_area :answer
  = f.check_box :featured

  = effective_submit(f)
  - if faq.response_email 
    %hint
      = "This will NOT automatically email #{faq.response_email}; We should email a response manually (Is this ok?)."
