= effective_form_with(model: [(namespace if defined?(namespace)), lead]) do |f|
  = effective_region :description do
    = link_to "Edit this.", "?edit=true"
  = effective_region :full_name_description
  = f.text_field :full_name, label: "&nbsp;"
  = effective_region :contact_info_description
  = f.text_field :contact_info, label: "&nbsp;"
  = effective_region :purpose_description
  = f.select :purpose, (::Lead::PURPOSE_OPTIONS.map{|k,v|[t(k),v]}), label: "&nbsp;"
  = effective_region :body_description
  = f.text_area :body, label: "&nbsp;"
  -#f.text_field :locality, label: "&nbsp;"
  = effective_region :description
  = f.submit t("Submit"), class: "btn-warning"
  -#effective_submit(f)
