= effective_region :before_lead do
  = link_to "Edit this.", "?edit=true"
= render '/leads/form_lead', lead: lead, namespace: nil
= effective_region :after_lead do
  = link_to "Edit this.", "?edit=true"

