%table.table
  %tbody
    %tr
      %th Full Name 
      %td= lead.full_name
    %tr
      %th Locality
      %td= lead.purpose
    %tr
      %th Locality
      %td= lead.contact_info
    %tr
      %th Message
      %td= lead.body
    %tr
      %th Locality
      %td= lead.locality
