= effective_form_with(model: [:admin, community]) do |f|
  .row
    .col-sm-6.border-right
      %h3 Contact Info
      %p
        %small.text-muted The community can see and update these fields

      = f.text_field :name
      = f.phone_field :phone
      = f.email_field :email

    .col-sm-6
      %h3 Admin Only
      %p
        %small.text-muted Only admin can see or update these fields.
      = f.text_field :locality, label: "Locality"
      %p
        %small.text-muted These set the pointer on the map.
      = f.number_field :lat, label: "Latitude", step: :any
      = f.number_field :lng, label: "Longitude", step: :any

  %hr

  -if true
    .row
      .col-sm-6
        %h3 Billing Address
        = effective_address_fields(f, :billing)
      .col-sm-6
        %h3 Shipping Address
        = effective_address_fields(f, :shipping)

  = effective_submit(f)
