%table.table
  %tbody
    %tr
      %th Name
      %td= service_provider.name
    %tr
      %th Address
      %td= service_provider.address
    %tr
      %th Locality
      %td= service_provider.locality
    %tr
      %th Email
      %td= service_provider.email
    %tr
      %th Phone
      %td= service_provider.phone
    %tr
      %th Title
      %td= service_provider.title
    %tr
      %th Verifications
      %td= service_provider.verifications
