= effective_region(params[:category].to_s) do 
  %h1= @page_title

- if ["news","papers"].include? params[:category].to_s
  = render 'layout' do
    .effective-posts
      = render partial: "news_item", collection: @posts, spacer_template: 'news_spacer'

    %nav.d-flex.justify-content-center
      = bootstrap_paginate(@posts, per_page: EffectivePosts.per_page)
- else
  = render 'layout' do
    .effective-posts
      = render partial: @posts, spacer_template: 'spacer'

    %nav.d-flex.justify-content-center
      = bootstrap_paginate(@posts, per_page: EffectivePosts.per_page)