<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "Lead" %></h1>
    <p>
      New activity. Lead submitted. (<%= Lead.count %>) total leads now. (Not sure how many un-resolved.)
    </p>
    <p>
      JORGE. If there are too many... we can aggregate this notification to 2 time per day.
    </p>
    <p>
      Follow this link: <%= link_to "leads", "#{ENV["BASE_URL"]}/#{'leads'}" %>.
      Note: you may need to login first.
    </p>
    <h3>Last 10 Leads:</h3>
    <% for l in Lead.limit(10) %>
    <p>
      <%= l.full_name %>
      <%= l.contact_info %>
      <%= l.purpose_text %>
      <%= l.body %> 
      <%= link_to  "direct link", l %>
    </p>
    <% end %>
  </body>
</html>