= tabs do
  = tab 'Demographics' do
    = render 'form_community', community: community, namespace: nil

  - if community.persisted?
    = tab 'Users' do
      = render 'mates/roles'
      %p Click New to invite a user.
      = render_datatable(MatesDatatable.new(community_id: community.id), inline: true)
