- resource = (@_effective_resource || Effective::Resource.new(controller_path))

.row
  .col-8
    %h1= @page_title

  .col-4.text-right
    = render_resource_buttons(resource.klass, (action ||= :index) => false, :list=>false)

.row
  .col-12
    = effective_region :list_instruction do
      This is an editable description.
  %script
    function loadMarkersOnMap(){
    //this function might be called by maps init function
    var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
    - for community in @communities.select(&:lat)
      var marker#{community.id} = new google.maps.Marker({ position: {"lat": #{community.lat}, "lng":#{community.lng}},  map: map, image: image, title: '#{community.name + " (#{community.users.length})"}' }); 
      marker#{community.id}.addListener("click", function(){ map.setZoom(11); map.setCenter(marker#{community.id}.getPosition()); });
    }

- if @datatable
  = render_datatable(@datatable)
- elsif instance_variable_get('@' + resource.plural_name).respond_to?(:to_partial_path)
  = render instance_variable_get('@' + resource.plural_name)
- elsif instance_variable_get('@' + resource.name).respond_to?(:to_partial_path)
  = render instance_variable_get('@' + resource.name)

- elsif Rails.env.development?
  %p effective_resources index view is not sure what to render.
  %p Define an @datatable, @#{resource.try(:plural_name) || 'a plural'}, or @#{resource.try(:name) || 'a singular'}.
  %p or include Effective::CrudController in your controller
