#footer.container
  .row
    .col-3
      = effective_region :footer_left do
        %h4 Links
        %ul
          %li= link_to 'Blog', effective_posts.posts_path
          %li= link_to 'About', '/about'
          %li= link_to 'Contact', '/contact'
          %li= link_to 'Style Guide', '/styleguide'

    .col-6
      = effective_region :footer_center do
        %h4 About
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ante est, sollicitudin at sagittis in, aliquet porttitor massa. Morbi fermentum euismod eleifend. Sed condimentum est vitae lectus tincidunt fermentum. Etiam nec nisl non elit congue hendrerit. Nam consequat hendrerit felis accumsan convallis.

    .col-3
      = effective_region :footer_right do
        %h4 Contact
        %p
          #{ENV['WEBSITE_HUMAN_NAME'] || 'Example Website'}
          %br
          San Juan, Puerto Rico
          %br
          = mail_to(ENV['WEBSITE_POSTMASTER_EMAIL'] || 'info@codeandeffect.com')

  .row
    .col.text-center
      %p 
        - for page in Effective::Page.where('layout'=>'legalese1').all
          = link_to t(page.slug+"_page_title"), page
      = effective_region :footer_bottom do
        %p 
          - for page in Effective::Page.where('layout'=>'legalese2').all
            = link_to t(page.slug+"_page_title"), page
      %p Copyright &copy; #{Time.zone.now.year} #{ENV['WEBSITE_LEGAL_NAME'] || 'Code and Effect'}
