%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to(image_tag((ENV["LOGO"]||'logo.png'), alt: (ENV["LOGO_ALT"] || "Organization")), root_path, class: 'navbar-brand')

  %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navContent', 'aria-controls': 'navContent', 'aria-label': 'Toggle navigation'}}
    %span.navbar-toggler-icon

  #navContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - render_navbar_from_page_like_objs(ENV["NAVBAR"]) do |l,pages|
        - if pages.length == 1
          = render_nav_link(pages.first)
        - elsif pages.length > 1
          %ul.navbar-nav
            = nav_dropdown(t(l)) do
              - for page in pages
                = render_nav_link(page)

      - if current_user&.communities.present?
        = nav_link_to t('manage_users_page_title'), communities_path


    %ul.navbar-nav
      - if current_user.present?
        = nav_dropdown(user_tag(current_user), right: true) do
          = nav_link_to 'Settings', user_settings_path

          - if can?(:access, :admin)
            = nav_divider
            = nav_link_to 'Site Admin', '/admin'
          = switch_language_option
          = nav_divider
          = nav_link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        = nav_link_to 'Sign In', new_user_session_path
        = switch_language_option
