%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to(image_tag((ENV["LOGO"]||'logo.png'), alt: (ENV["LOGO_ALT"] || "Organization")), root_path, class: 'navbar-brand')

  %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navContent', 'aria-controls': 'navContent', 'aria-label': 'Toggle navigation'}}
    %span.navbar-toggler-icon

  #navContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if ENV['WEBSITE_COMMUNITIES_DIRECTORY_HUMAN_NAME'].present?
        = nav_link_to((ENV['WEBSITE_COMMUNITIES_DIRECTORY_HUMAN_NAME']||'Around PR'), list_communities_path)
        
      - if can?(:index, Effective::Post)
        = nav_link_to t("blog_page_title"), effective_posts.posts_path
        
      - if can?(:index, Effective::Page)
        - Effective::Page.all.each do |page|
          = nav_link_to(t(page.slug+"_page_title"), effective_pages.page_path(page)) if can?(:show, page)

      - if current_user&.communities.present?
        = nav_link_to t('manage_users_page_title'), communities_path

      - if ENV['PARTNERS_TRANSLATION_TOKEN'].present?
        - if can? :index, ServiceProvider
          = nav_link_to t('service_providers_page_title'), service_providers_path

    %ul.navbar-nav
      - if current_user.present?
        = nav_dropdown(user_tag(current_user), right: true) do
          = nav_link_to 'Settings', user_settings_path

          - if can?(:access, :admin)
            = nav_divider
            = nav_link_to 'Site Admin', '/admin'
          = switch_language_option
          = nav_divider
          = nav_link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        = nav_link_to 'Sign In', new_user_session_path
        = switch_language_option
