!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %meta{name: 'robots', content: 'index, follow'}

    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"
    - if ENV['GOOGLE_PLATFORM_JS_URL']
      = javascript_include_tag ENV['GOOGLE_PLATFORM_JS_URL'], async: true


    -if ENV['WEBSITE_STYLESHEET']
      = stylesheet_link_tag ENV['WEBSITE_STYLESHEET'], media: 'all', 'data-turbolinks-track': 'reload'

    = effective_posts_header_tags
    = effective_pages_header_tags
    = effective_regions_include_tags
    - if ENV['FAVICON_ADMIN'] && request.path[/api|admin/]
      -# crazy condition is an artifact of a specific usecase, where QA needs to keep a bunch of windows open
      = favicon_link_tag asset_path(ENV['FAVICON_ADMIN'])
    - elsif ENV['FAVICON']
      = favicon_link_tag asset_path(ENV['FAVICON'])

  %body{class: effective_pages_body_classes}
    = render partial: 'layouts/impersonate'
    = render partial: 'layouts/staging'
    = render partial: 'layouts/navbar'
    - content = { header: t('Cookies_used_on_the_website'), message: t('This_website_uses_cookies_to_improve_your_experience.'), dismiss: t('got_it'), allow: t('allow_cookies'), deny: t('decline'), link: t('learn_more'), href: t('cookies_and_you_website_url'), policy: t('Cookie Policy')}
    %script
      window.dcontent = #{raw content.to_json};
    :javascript
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
          container: document.getElementById("cookieconsent"),
          palette:{
          popup: {background: "#1aa3ff"},
          button: {background: "#e0e0e0"},
          },
          revokable: true,
          onStatusChange: function(status) {
          console.log(this.hasConsented() ?
            'enable cookies' : 'disable cookies');
          },
          "position": "bottom-left",
          "theme": "classic",
          "domain": "https://localhost:3000/*",
          "secure": true,
          "content": window.dcontent
        });
        });

    #content-wrap
      .container
        = render partial: 'layouts/alert'

        - if content_for?(:sidebar)
          .row
            .col-3#sidebar= yield :sidebar
            .col-9#main= yield
        - else
          #main= yield

    #footer-wrap
      = render partial: 'layouts/footer'
    = render partial: 'layouts/language_script'